<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--  <div th:replace="common/headr.html"></div>-->
<!--  <table align="center" border="1">-->
<!--    <tr>-->
<!--      <th>어트랙션 id</th>-->
<!--      <th>어트랙션 name</th>-->
<!--      <th>어트랙션 lat</th>-->
<!--      <th>어트랙션 lng</th>-->
<!--      <th>어트랙션 def</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td th:text="${ attraction.attractionId }"></td>-->
<!--      <td th:text="${ attraction.attractionName }"></td>-->
<!--      <td th:text="${ attraction.attractionLat }"></td>-->
<!--      <td th:text="${ attraction.attractionLng }"></td>-->
<!--      <td th:text="${ attraction.attractionDef }"></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</body>-->
<!--</html>-->