<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--  <div th:inline="common/header.html"></div>-->
<!--  <h3 align="center">신규 어트랙션 등록</h3>-->
<!--  <form action="/attraction/regist" method="post" align="center">-->
<!--    <label>어트랙션 이름</label><input type="text" name="attractionName"><br>-->
<!--    <label>어트랙션 위도</label><input type="number" name="attractionLat"><br>-->
<!--    <label>어트랙션 경도</label><input type="number" name="attractionLng"><br>-->
<!--    <label>어트랙션 내용</label><input type="text" name="attractionDef"><br>-->
<!--    <input type="submit" value="전송">-->
<!--  </form>-->
<!--</body>-->
<!--</html>-->